{
  "endOfLine": "auto",
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "importOrder": [
    "^react(.*)",
    "^@tanstack/(.*)$",
    "^zustand(.*)",
    "^axios(.*)",
    "^msw(.*)",
    "^browser-image-compression(.*)",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@store/(.*)$",
    "^@api/(.*)$",
    "^@utils/(.*)$",
    "^@router/(.*)$",
    "^@type/(.*)$",
    "^@constants/(.*)$",
    "^@assets/(.*)$",
    "^@styles/(.*)$",
    "^@stories/(.*)$",
    "^@mocks/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
